<div class="col-2 col-sm-2  mb-3 " style="margin-right:100px ;">
    <!-- card 1 -->
    <div class="card rounded bg-light border">

        <div class="mobile-image-wrapper-1 img-hover-zoom img-hover-zoom--quick-zoom">
            <a href="client.ejs">
                <img src="..\<%= clients.Image %>" class="card-img-top" alt="<%= client.name %> img">
            </a>
        </div>

        <div class="card-body pb-3">
            <div class="d-flex justify-content-between mt-3 mb-2">
                <h5><%= Client.name %></h5>
            </div>
            <div class="mb-2">
                <span class="text-dark  ">
                    <i class="fa-solid fa-star" style="color: #006aff;"></i>
                    <i class="fa-solid fa-star" style="color: #006aff;"></i>
                    <i class="fa-solid fa-star" style="color: #006aff;"></i>
                    <i class="fa-solid fa-star" style="color: #006aff;"></i>
                    <i class="fa-sharp fa-regular fa-star"></i>
                </span>
            </div>
        </div>
    </div>
</div>