<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/Head.ejs") %>
</head>
<body>
<section class="container-fluid ">
    <div class="row ">
        <div class="col-3 ">
            <h1>Blankoo</h1>
        </div>
        <div class="col-9">
        </div>
    </div>
</section>  
</body>
</html>