<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/Head.ejs") %>
</head>
<body>
    <section class="container-fluid">
        <div class="row">
            <div class="col-3 border-right">
                <h1>Blankoo</h1>
                <h6>Dashboard</h6>
                <h6>Team</h6>
                <h6>Clients</h6>
                <h6>Products</h6>
            </div>
            <div class="col-9 ">

            </div>
        </div>
    </section>   
</body>
</html>