<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./partials/Head.ejs") %>
</head>

<body>
    <%- include("./partials/Nav.ejs") %>
        <!-- category -->
        <section class="container-fluid">
            <div class="row pb-1 ">
                <div class="col  advertising" style="background-image: url(used/photo1.jpg);">
                </div>
            </div>
            <div class="row pb-1">
                <div class=" col-sm col-12 pb-1  ">
                    <div class="img-hover-zoom img-hover-zoom--quick-zoom">
                        <img src="used/photo3.jpg" alt="" srcset="" class="w-100 img-fluid h-auto">
                    </div>
                </div>
                <div class=" col-sm col-12 pb-1">
                    <div class="img-hover-zoom img-hover-zoom--quick-zoom">
                        <img src="used/photo4.jpg" alt="" srcset="" class="w-100 img-fluid h-auto">
                    </div>
                </div>
            </div>
            <div class="row pb-1">
                <div class="col advertising" style="background-image: url(used/photo2.jpg);">
                </div>
            </div>
        </section>
        <!-- end -->

        <!-- quick selection -->
        <section class="container-fluid mb-5 mt-5">
            <div class="d-flex container-fluid justify-content-center ">
                <h5 class="display-6  ">Viral now</h5>
            </div>
            <div class="d-flex pe-5 ps-5 pb-4 pt-4 flex-sm-row flex-column border-bottom  border-top ">
                <!-- card 1 -->
                <div class="rounded border me-2 mb-2">
                    <div class="img-hover-zoom img-hover-zoom--quick-zoom">
                        <a href="products.html">
                            <img src="used/D_slide_man_tshirts_-1.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <!-- card 2 -->
                <div class="rounded border me-2 mb-2">
                    <div class=" img-hover-zoom img-hover-zoom--quick-zoom">
                        <a href="product.html">
                            <img src="used/D_slide_man_jeans_-1.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <!-- card 3 -->
                <div class=" rounded border me-2 mb-2">
                    <div class=" img-hover-zoom img-hover-zoom--quick-zoom">
                        <a href="product.html">
                            <img src="used/D_slide_man_shirts_-1.jpg" class="img-fluid" alt="">
                        </a>
                    </div>

                </div>
                <!-- card 4 -->
                <div class=" rounded border me-2 mb-2">
                    <div class=" img-hover-zoom img-hover-zoom--quick-zoom">
                        <a href="product.html">
                            <img src="used/D_slide_man_suit_-1.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
                <!-- card 5 -->
                <div class="rounded border me-2 mb-2">
                    <div class="img-hover-zoom img-hover-zoom--quick-zoom">
                        <a href="product.html">
                            <img src="used/D_slide_man_trousers_-1.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- end -->
        <%- include("./partials/Top_Function.ejs") %>
            <%- include("./partials/Footer.ejs") %>
</body>

</html>