<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/Head.ejs") %>
</head>
<body>
    <%- include("../partials/Nav.ejs") %>
    <section class="mt-3 mb-3">
        <div class="container-fluid">
            <div class="container">
                <h2 class="font-weight-bold mb-2">Our Team</h2>
                <p class="font-italic text-muted mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt.</p>
            </div>
            </div>
            </section>
    
</body>
</html>