<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/Head.ejs") %>
  </head>
  <body>
    <div class="page d-flex">
      <%- include("../partials/sidebar_admin.ejs") %>
      <div class="content w-full">
        <!-- Start Head -->
        <div class="head bg-white p-15 between-flex">
          <div class="search p-relative">
            <input class="p-10" type="search" placeholder="Type A Keyword" />
          </div>
          <div class="icons d-flex align-center">
            <span class="notification p-relative">
              <i class="fa-regular fa-bell fa-lg"></i>
            </span>
            <img src="../images/Admin/avatar.png" alt="" />
          </div>
        </div>
        <!-- End Head -->
        <h1 class="p-relative">Blankoo Products</h1>
        <div class = "row m-2 justify-content-center">
          <form action="add-product" method="post" enctype="multipart/form-data">
              <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" name="name"required>
              </div>
              <div class="form-group">
                <label for="price">Price:</label>
                <input type="number" step=".01" class="form-control" id="price" name="price"  required>
              </div>
              <div class="form-group">
                <label for="category">Catergory:</label>
                <input class="form-control" id="category" name="category" rows="3"  required></input>
              </div>
              <div class="form-group">
                <label for="description">Description:</label>
                <textarea class="form-control" id="description" name="description" rows="3" required  ></textarea>
              </div>
              <div class="form-group">
                <label for="image">Image:</label>
                <input type="file" class="form-control-file" id="image" name="image" required>
              </div>

              <button type="submit" class="btn btn-primary">add</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
