<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/Head.ejs") %>
</head>

<body>
    <%- include("../partials/Nav.ejs") %>
    <section class=" container mt-5 mb-5">
        <div class="row mb-5">

            <!-- left row -->
            <div class="col-12 col-sm-6">
                <div class="container-fluid">
                    <!-- title -->
                    <h4 class="mb-4">
                        Shipping
                    </h4>
                    <!-- map -->
                    <div class="container">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d55251.37809421838!2d31.217264617826068!3d30.059482028208137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2sCairo%2C%20Cairo%20Governorate!5e0!3m2!1sen!2seg!4v1680637378497!5m2!1sen!2seg"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                    <!-- info -->
                    <div class="row mb-3">
                        <div class="col-6 mt-4">
                            <div class="form-group">
                                <input id="" type="text" required="" placeholder="Address" class="form-control  border-0 shadow-sm  text-black">
                            </div>
                        </div>

                        <div class="col-6 mt-4">
                            <div class="form-group">
                                <input id="" type="text" required="" placeholder="Street name" class="form-control  border-0 shadow-sm  text-black">
                            </div>
                        </div>
                        <div class="col-6 mt-4">
                            <div class="form-group">
                                <input id="" type="text" required="" placeholder="Building" class="form-control  border-0 shadow-sm  text-black">
                            </div>
                        </div>
                        <div class="col-6 mt-4 ">
                            <div class="form-group">
                                <input id="" type="text" required="" placeholder="Floor" class="form-control  border-0 shadow-sm  text-black">
                            </div>
                        </div>
                        <div class="col-6 mt-4 mb-5">
                            <div class="form-group">
                                <input id="" type="text" required="" placeholder="Apartement" class="form-control  border-0 shadow-sm  text-black">
                            </div>
                        </div>
                        <button class="btn btn-dark"> Checkout</button>
                    </div>

                    
                    

                </div>
            </div>
            <!-- end -->

            <!-- left border!!! -->
            <div class="col-12 col-sm-6">
                <div class="container-fluid mb-5 ">
                    <h4 class="mb-4">
                        Summary
                    </h4>

                    <div class="border-bottom mb-3">

                        <div class="d-flex justify-content-between ps-4 pb-4">
                            <h5>
                                Items
                            </h5>
                            <h5 class="ps-4">
                                Price
                            </h5>
                            <h5>
                                Quantity
                            </h5>

                        </div>

                        <div>
                            <div class="d-flex justify-content-between pb-1 pe-4 text-muted">
                                <h5>
                                    Product name
                                </h5>
                                <h5 class="pe-5">
                                    30$
                                </h5>
                                <h5>
                                    2
                                </h5>
                            </div>

                            <div class="d-flex justify-content-between pb-1 pe-4 text-muted">
                                <h5>
                                    Product name
                                </h5>
                                <h5 class="pe-5">
                                    10$
                                </h5>
                                <h5>
                                    1
                                </h5>
                            </div>

                            <div class="d-flex justify-content-between pb-1 pe-4 text-muted">
                                <h5>
                                    Product name
                                </h5>
                                <h5 class="pe-5">
                                    15$
                                </h5>
                                <h5>
                                    1
                                </h5>
                            </div>

                        </div>

                    </div>

                    <div class="d-flex justify-content-between pb-2">
                        <h5>
                            Total
                        </h5>

                        <h5 class="text-muted pe-3">
                            45$
                        </h5>
                    </div>


                </div>
                <div class="">

                    <h4 class="mb-4">
                        Payment Method
                    </h4>

                    <div class="border-bottom mb-4">
                        <h6>
                            Cash
                        </h6>
                        <h6>
                            Credit Card
                        </h6>
                    </div>

                    <div class="mb-4">
                        <h6>
                            Card Number
                        </h6>
                        <div class="form-group">
                            <input id="" type="text" placeholder="0000 0000 0000 0000" required=""
                                class="form-control  border-0 shadow-sm  text-primary">
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-6">
                            <h6>
                                Expiry Date
                            </h6>
                            <div class="form-group">
                                <input id="" type="date" required=""
                                    class="form-control  border-0 shadow-sm  text-black">
                            </div>
                        </div>

                        <div class="col-6">
                            <h6>
                                CVV
                            </h6>
                            <div class="form-group">
                                <input id="" type="text" placeholder="000" required=""
                                    class="form-control  border-0 shadow-sm  text-primary">
                            </div>
                        </div>

                    </div>

                    <h6 class="text-muted">Your transaction is secured with ssl certificate</h6>

                </div>

            </div>
        </div>


    </section>

    <%- include("../partials/Top_Function.ejs") %>
    <%- include("../partials/Footer.ejs") %>
</body>

</html>