<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/Head.ejs") %>
</head>
<body>
    <div class="page d-flex">
        <%- include("../partials/sidebar_admin.ejs") %>
        <div class="content w-full">
          <!-- Start Head -->
          <div class="head bg-white p-15 between-flex">
            <div class="search p-relative">
              <input class="p-10" type="search" placeholder="Type A Keyword" />
            </div>
            <div class="icons d-flex align-center">
              <span class="notification p-relative">
                <i class="fa-regular fa-bell fa-lg"></i>
              </span>
              <img src="../images/Admin/avatar.png" alt="" />
            </div>
          </div>
          <!-- End Head -->
          <h1 class="p-relative">Blankoo Clients</h1>
              <div class="row ">

            </div>
          </div>
        </div>
      </div>
</body>
</html>