<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/Head.ejs") %>
    </head>
<body>
    <section class=" mb-5">
        <div class="d-flex flex-sm-row flex-column ">
          <!-- images for pc -->
          <div class="col-sm-8 d-none d-sm-inline bg-white">
    
            <div class="row">
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/pants/9ec2646fbbc0b4689d40316238281a55-0374388800_2_24_0.webp" alt="" srcset="">
                </div>
              </div>
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/used/pants/883261461aa3dfbcd47597bedba82c88-0374388800_1_1_0.webp" alt="" srcset="">
                </div>
              </div>
    
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/used/pants/1d5b19a42c0202e0b848be1c99f4e1c0-0374388800_2_1_0.webp" alt="" srcset="">
                </div>
              </div>
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/used/pants/702b92c9c170d71eed492db1d63a3b6c-0374388800_2_4_0.webp" alt="" srcset="">
                </div>
              </div>
    
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/used/pants/f49ac68c19a4f07b681456b2817c21d9-0374388800_2_5_0.webp" alt="" srcset="">
                </div>
              </div>
    
              <div class=" product_image col-6 mb-2">
                <div class="img-hover-zoom  img-hover-zoom--quick-zoom ">
                  <img src="/images/used/pants/0a47c02d9b23b13ae8411577a6a25553-0374388800_2_2_0.webp" alt="" srcset="">
                </div>
              </div>
    
            </div>
    
          </div>
           <!-- end -->
          <!-- images for mobile -->
          <!-- carousel product slider for mobile -->
          <section class=" d-block d-sm-none  mb-3">
            <div id="mobile_carsouel_single_product" class="carousel slide">
              <div class="carousel-inner">
                <!-- carousel 1 -->
                <div class="carousel-item active">
                  <div class="single_product_image_for_mobile">
                    <img src="/images/used/pants/9ec2646fbbc0b4689d40316238281a55-0374388800_2_24_0.webp" alt="" srcset="" class="">
                  </div>
                </div>
                
</body>
</html>